.selected-area{
    width:400px;
    border:5px solid goldenrod;
    padding: 10px;
    margin: auto;
}

.selected-area h1,.selected-area p{
    margin:0;
}

.selected-area h1{
    font-size:22px;
    text-align: center;
}
.selected-area p{
    text-align:left;
}